body{

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color:#bfbfbf;
    overflow-x: hidden;
   
}


.container-img {
   
    
    text-align: center; 
    
 }




.img-responsive {

    background-size: cover;
    max-width: 100%;
    height: auto;
}

h1{

    font-size: 5rem;
    margin: 0;
    color: #091f43;

}

label {

    font-size:1.8rem;
    color: #091f43;
    font-weight:bold;
}

input {

    width: 15.2rem;
    height: 2.2rem;
    margin: 0rem 0rem 0rem 0rem;


}

form input:nth-child(19){

font-size: 1.5rem;


}

#bio{

    width: 20rem;
    height:10rem;

}

#bio::placeholder{

    top: 0;


}

#register {

    color: #091f43;
    font-weight: bold;


}
@media(max-width: 800px){



    html{

        font-size: 12px;


    }



}