
body  {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #bfbfbf;
     overflow-x: hidden;
     
}
nav {
   
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    position: relative;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    right:-6rem;
    color:#091f43;
    font-size: 3rem;
    font-weight: bold;
}
nav .mainMenu li a:hover {
    border-radius: 16px;
    background: #FD2D01;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    
}


.img-responsive {

    position: relative;
    right:-9rem;
    background-image: cover;
    max-width: 100%;
    height:auto;
}

.postMessage2 {

    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    align-items: center;
    

}

.titlePost{

    
    width:40rem;
    height: 5rem;
    font-size:2rem;
    border: 10px solid #091F43;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 0 16px #091F43
    

}


.messagePost{ 

    
    width:40rem;
    height: 10rem;
    font-size:2rem;
    border-radius: 16px;
    border: 10px solid #091F43;
    text-align: center;
    box-shadow: 0 0 16px #091F43


}

.sendMessage {

    width: 10rem;
    height:3rem;
    border-radius:16px;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
}

.sendMessage:hover{

    background-color: rgb(255,94,0);

}

.imageUpload{

    color:transparent;
    background-color:#bfbfbf;
    height:3rem;
    border-radius:16px;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
    

}


.containerMessages{

    font-size: 1.5rem;
    text-align:center;
    align-items:center;
    display:flex;
    flex-direction: column;
    

    
    
}

.encart{

    width: 40rem;
    background-color:#091F43;
    border-radius:16px;
    margin: 0;
    text-align: center;
    box-shadow: 0 0 16px #091F43;
    color:white;
   
}

#username{

    font-weight: bold;
    font-size: 2.5rem;
    color:#FD2D01

}

#title{
    font-size: 2.5rem;



}


#message {


    font-size:2rem;


}

#imagePost {


width: 100%;
    


}


.eraseMessage {

    width: 6rem;
    height:3rem;
    border-radius:16px;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;




}


#encartComment{

    display:flex;
    width:40rem;
    margin-bottom: 1rem;;




}

.comments{

    width:100%;
    border-radius:16px;
    color: #091f43;
    font-size: 1.5rem;
    



}

.validComment {

    width: 6rem;
    height:4rem;
    border-radius:16px;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;


}

.containerComments{

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40rem;
    



}

.commentNumber{


    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    width: 40rem;
  margin: 0;

}



.commentUsername {

    background-color:#091f43;
    width: 8rem;
    
    border-radius:16px;
    color: #FD2D01;
    font-weight: bold;
    height:100%;
    margin: 0;
    
    padding: 0.1rem;

}

.commentNumber p{

    width: 40rem;
    font-size: 1.5rem;
    border: transparent;
    background-color:#091f43;
    color:white;
    margin: 0;
    
    border-radius: 16px;


}

.eraseComment{

background-color:white;
border-radius:0 16px 16px 0 ;
;


}


@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        
        align-items: center;
        background:white;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }

    .img-responsive{

        right: 0rem;

    }

    nav .mainMenu li a{

        right:0rem;
        font-size: 2rem;

    }

    
    html{

        font-size: 7px;


    
}


#formButton{

    display: flex;
    


}

.sendMessage{
    
    margin:1rem;



}



}